<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/nav'); %> <%- include('../partials/footer'); %>
    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4 mt-5"
        src="https://cdn-icons-png.flaticon.com/512/350/350922.png"
        alt=""
        width="80"
      />
      <h1 class="display-5 fw-bold">ScheduleWORM</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          I like to eat the dirt. When I eat the dirt I want to be in it and it
          be in me, to roll around in the abundance of decay and old matter as I
          drive deeper and deeper. I consume the filth as a gift. It comes to
          and through me only temporarily and I, like a birthing mother, pass it
          back into the world to be consumed once more. I like to eat dirt.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
            Get started
          </button>
        </div>
      </div>
    </div>

    <%- include('../partials/footer'); %>
  </body>
</html>
