<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container">
    <a class="navbar-brand" href="#">ScheduleWORM</a
    ><button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navcol-1"
    ></button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <a class="btn btn-primary ms-auto" role="button" href="#">Register</a>
      <a class="btn btn-primary ms-auto" role="button" href="#">Sign In</a>
    </div>
  </div>
</nav>
