<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        class="mx-2"
        src="https://cdn-icons-png.flaticon.com/512/350/350922.png"
        alt=""
        width="40"
      />
      ScheduleWORM
    </a>

    <div id="navcol-1" class="justify-content-right">
      <a class="btn btn-primary ms-auto" role="button" href="#">Register</a>
      <a class="btn btn-primary ms-auto" role="button" href="#">Sign In</a>
    </div>
  </div>
</nav>
