<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/management.css" />
  </head>
  <body>
    <%- include('../partials/nav'); %>

    <div class="container mt-5 mx-auto">
      <button
        type="button"
        class="btn btn-primary mx-2"
        data-bs-toggle="modal"
        data-bs-target="#newUserModal"
      >
        New User
      </button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %> <%- include('show', { user }); %>
          <% }); %>
        </tbody>
      </table>
    </div>

    <div
      class="modal fade"
      id="newUserModal"
      tabindex="-1"
      aria-labelledby="newUserModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newUserModal">Create New User</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/newuser" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="inputUsername">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  aria-describedby="usernameHelp"
                  placeholder="Enter username"
                />
              </div>
              <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                />
              </div>
              <!-- <div class="form-group">
              <label class="form-check-label" for="inputAdminCheck"
                >Admin</label
              >
              <input
                type="checkbox"
                class="form-check-input"
                id="inputAdminCheck"
              /> -->

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  id="submitNewTask"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="editScheduleModal"
      tabindex="-1"
      aria-labelledby="editScheduleModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editScheduleModal">Schedule time</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              onclick="newShift.clear();"
            ></button>
          </div>
          <form action="/newshift" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="inputNewShiftUsername">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="newShiftUsername"
                  name="newShiftUsername"
                  readonly
                />
              </div>
              <br>
              <div class="form-group">
                <label for="inputShiftDate">Date of shift</label>
                <input
                  type="date"
                  class="form-control"
                  id="shiftDate"
                  name="shiftDate"
                />
              </div>
              <br>
              <div class="flex-container">
                <div class="flex-item">
                  <div class="form-group">
                    <label for="inputShiftStartTime">Start time of shift</label>
                    <input
                      type="time"
                      class="form-control"
                      id="shiftStartTime"
                      name="shiftStartTime"
                    />
                  </div>
                </div>
                <div class="flex-item">
                  <div class="form-group">
                    <label for="inputShiftEndTime">End time of shift</label>
                    <input
                      type="time"
                      class="form-control"
                      id="shiftEndTime"
                      name="shiftEndTime"
                    />
                  </div>
                </div>
              </div>
              <br><br>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  onclick="newShift.clear();"
                >
                  Close
                </button>
                <button
                  type="submit"
                  id="submitNewTask"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/management.js"></script>
    <%- include('../partials/footer'); %>
  </body>
</html>
